
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Ubuntu:wght@700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   to re-set element styles across browsers
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ===================== end of Meyer CSS Reset ============================================*/

/*using rem for font styles throughout, so that they are responsive */
body {
    font-family: 'Nunito Sans', sans-serif;
    color: #334B49;
	font-size: 1rem;
	line-height: 1.6rem;
	
}

h1, h2 {
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.05rem;
	text-transform: uppercase;
}

h2 {
	font-size: 2rem;
	line-height: 2.2rem;
}

h3 {
	font-size: 1.2rem;
	line-height: 2rem;
	font-weight: 600;
}

p {
	line-height: 1.8rem;
	padding-bottom: 1rem;
}

/*for all a elements - text dec none plus add accent colour on hover? 
then the more specific styles below will overwrite e..g. for nav etc.? 
and remove text dec specified below. come back to*/


header {
    background-color: #fff;
	position: fixed; /*to fix to top of browser - tbc if use sticky or fixed*/
	width: 100%; /*to keep full width*/
	top: 0; 
	left: 0;
	right: 0; /*these offsets to keep at top of page*/
	/*height: 10%;*/
	padding: 1rem;
	z-index: 3; /*to keep content on top of scrolling content*/
	display: flex; /*set header as flex container*/
	align-items: center; /*vertically align logo and nav within header*/
	justify-content: space-between; /*aligns logo to left and nav to right*/
	flex-wrap: wrap; /*so nav wraps below on smaller screen - may remove later if menu changed to hamburger*/
	/*height: 10vh; /*set same on top margin of page wrapper*/
	border-bottom: 0.1rem solid #eeeeee;
}

#logo {
	font-size: 2rem;
	margin: 1rem; /*equal margin on logo and nav in header*/
	color: #00B597;
}

#logo:hover, #logo:focus {
	color: #334B49;
}

header a {
	text-decoration: none;
	color: #334B49;
	font-size: 1.4rem;
}

/*increase font size, change colour and show underline on hover, tab (focus) or active, 
also for active class on page*/
.nav-item:hover, .nav-item:focus, .nav-item:active, .active {
	color: #FF9C81;
	border-bottom: 0.5rem solid #FF9C81;
}
/*add increase to font-size on hover*/


/*header nav*/
nav li {
	display: inline;
	margin-right: 1rem;
}

nav {
	margin: 1rem;
}

#main-page-wrapper {
	/*width: 90%;*/
	/*padding-top: 25vh;*/
	margin: 0 auto; /*centre page content*/
	/*padding-top: 6rem;*/
	/*margin-top: 7rem; /*to keep rest of page below fixed header*/
	/*width: 100%;
	overflow: hidden;*/
	overflow-x: hidden; /*to stop scroll horizontal on mobile view*/
	/*the above is okay on mobile, but entire page has right margin on larger view - need to figure this out*/
}

/*hero image*/
/*this is the parent container for hero-image so need to set overflow here to stop horizontal scrolling on image*/
#landing-section {
	/*background-color: blue; temp colour to see positioning*/
	/*margin-top: 10vh;*/
	width: 100%;
	overflow: hidden; 
	position: relative; /*so that the landing-box div can be positioned against this*/
}

/*hero image centred, no repeat and full width and height*/
#hero-image {
	background: url(../images/hero-image.jpg) no-repeat center center;
	height: 100vh; 
	width: 100%;
}

/*pseudo element being used to set opacity overlay on hero-image, since cannot be set directly on background-image*/
#hero-image::before {
    content: ""; /*content must be specified for it to show up*/
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
}

#landing-box-container {
	display: flex; /*set parent element as flex container*/
	flex-direction: column; /*one column for mobile view - alter on larger size under media query*/
	position: absolute; /*position this against the parent landing-section so that overlays the hero image*/
	bottom: 1rem; /*positioning from bottom of parent landing-section*/
	width: 100%; /*needs to be set so that justify content works*/
	justify-content: center; /*to centre the boxes within this container*/
	
}

/*text box - first div inside landing-box-container*/
#landing-text {
    color: #fff;
	text-align: center; /*centre text within the div*/
}

#landing-text p {
	font-size: .8rem;
}

#landing-text h2 {
	font-size: 2.2rem;
}

.landing-box a {
	text-decoration: none;
	color: #fff;
}

.landing-box {
	/* display: inline-block; this will only be for larger sizes*/
	background-color: #00B597;
	padding: 1rem;
    margin: 0.6rem 4rem; /*space between the boxes, more on left right to bring away from edge of page*/
    text-align: center;/*centre the text within the boxes*/
	transition: transform 250ms; /*to set time for the transform on hover below*/
}

.landing-box:hover {
	transform: scale(1.02); /*increase size of box on hover*/ /*could change opacity also*/
}
/*need to look at interaction for focus. Also change focus box styles*/

.landing-box a:hover, .landing-box a:focus, .landing-box a:active {
	color: #334B49;
}

/*font size and style for h3 inside landing box*/
.landing-box h3 {
	padding: 0.5rem 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    font-size: 1.8rem;
}

.landing-box p {
	font-size: .9rem;
}






/*sections 90% of body. **need to fix - right margin?* **/
#intro-section, #get-started-section, #more-info-section, .long-article {
	width: 90%;
	display: flex;
	flex-direction: column; /*so that child divs display in one column - amend for larger screen*/
	padding-top: 8rem; /*so that when click on link to this section the heading is in view 
	(needed re fixed header). Adjust for larger*/
	margin: 0 auto;
}

.intro-box, .get-started-box, .more-info-box {
	width: 90%;
	margin: 0 auto;
	padding: 2rem;
}

.intro-box video {
	margin: 0 auto;
}

.more-info-box img, .long-article img {
	width: 100%;
}

/*font styles for article date in more info section index.html*/
.article-date {
	font-weight: 500;
	font-size: 0.9rem;
    color: #7f7f88;
	padding-bottom: 0.2rem;
}

.article-summary {
	font-style: italic;
}

/*increase space between read more and arrow*/
.more-info-summary i {
	padding-left: 0.5rem;
}



/**============================footer=========================================**/
footer {
	/*position: fixed; to fix to bottom of browser - removed for now
	bottom: 0;
	right: 0;
	left: 0; /*offsets to fix to bottom*/
	width: 100%; /*full width*/
	display: flex; /*footer is flex container for two divs - social media and form*/
	/*height: 10vh; temp*/
	background-color: #334B49;
	flex-direction: column; /*for mobile view, so displays in row*/
	padding: 1rem 0; /*padding top and bottom of footer*/
	color: #fff
}



/*for the social media icons (li) to display in a line*/
.social-media-links {
	display: flex; /*flex container for li inside, displays them inline*/
	justify-content: center;
	margin: 1rem 0;
	
}

/*to increase the size of the icons used for social media links*/
.social-media-links i {
	font-size: 1.4rem; /*to increase the size of the icons used for social media links*/
	color:#fff;
	padding:0 1rem; /*padding on each icon to add space between*/
}

/*need to add the hover and focus styles on these links also*/


footer form {
	margin-bottom: 2rem;
	text-align: center;
}

footer p {
	padding-bottom: 0; /*remove padding from p so closer to form boxes*/
	text-align: center;
}

footer input {
	padding: 0.5rem; /*increase size of boxes?*/
	margin-right: 0.5rem;
}

/*sign up button color*/
footer input[type="submit"] {
	background-color:#FF9C81; 
	color: #334B49;
}