
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Ubuntu:wght@700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   to re-set element styles across browsers
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ===================== end of Meyer CSS Reset ============================================*/

* {
    box-sizing: inherit;
}

/*======set variables for colors =============*/
:root {
	--green: #04E5AE; /*accent color*/
	--orange: #F25F5C; /*was accent color but don't think works re contrast, also re color-blindness - amended to use green*/
	--dark-grey: #334B49; /*text color and footer*/
	--white: #fff; /*header and footer text color*/
	--light-grey: #7f7f88; /*lighter text color*/
	--extra-light-grey: #eeeeee /*borders*/
}

html {
	box-sizing: border-box;
}

/*explicitly set height for grid use*/
html, body {
	height: 100%;
}

/*using rem for font styles throughout, so that they are responsive */
body {
    font-family: 'Nunito Sans', sans-serif;
    color: var(--dark-grey);
	font-size: 1rem;
	line-height: 1.6rem;
	min-height: 100vh;
	overflow: hidden;
	/*grid settings*/
	display: grid;
  	grid-template-columns: 1fr;
  	grid-template-rows: auto 1fr;
  	grid-template-areas: 
						'header'
						'main-page-wrapper';
}

h1, h2 {
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.05rem;
	text-transform: uppercase;
}

h2 {
	font-size: 2rem;
	line-height: 2.2rem;
}

.subtitle, h3 {
	font-size: 1.2rem;
	line-height: 2rem;
	font-weight: 600;
}

p {
	line-height: 1.8rem;
	padding-bottom: 1rem;
}

a {
	text-decoration: none;
	color: var(--green);
}

/*to make stand out more for links in paragraphs*/
p > a {
	font-weight: 900; 
	color: var(--dark-grey);
	border-bottom: 0.1rem solid var(--green);
}

p > a:focus, p > a:hover, p > a:active {
	color: var(--green);
}

em {
	font-style: italic;
}

/*removing the default focus style for tabbing and replacing it with brand color border*/
:focus {
	outline:none;
	border:0.1rem solid var(--green);
}

/*adding back the outline for form checkbox since border does not work with this*/
input[type="checkbox"]:focus {
	outline: 0.1rem solid var(--green);
}


/*=================================header and nav==============================================*/
#page-header {
    background-color: var(--white);
	/* width: 100%;  */
	padding: 1rem;
	z-index: 3; /*to keep content on top of scrolling content*/
	display: flex; /*set header as flex container*/
	align-items: center; /*vertically align logo and nav within header*/
	justify-content: space-between; /*aligns logo to left and nav to right*/
	flex-wrap: wrap; /*so nav wraps below on smaller screen - may remove later if menu changed to hamburger*/
	border-bottom: 0.1rem solid var(--extra-light-grey);
	/*grid setting*/
	grid-area: header;
}

#logo {
	font-size: 2rem;
	margin: 1rem; /*equal margin on logo and nav in header*/
	color: var(--green);
}

#logo:hover, #logo:focus {
	color: var(--dark-grey);
}

.nav-item {
	text-transform: uppercase;
	color: var(--dark-grey);
	font-size: 1.1rem;
}

/*change colour and show underline on hover, tab (focus) or active, 
also for the active page, using active class*/
.nav-item:hover, .nav-item:focus, .nav-item:active, .active {
	border-bottom: 0.5rem solid var(--green);
	color: var(--green);
}


/* for nav ul items to be hidden at mobile size initially*/
.topnav ul {
	display: none;
  }

  /* for the icon to display at mobile size */
.topnav a.icon {
    display: block;
	color: var(--dark-grey);
  }

.topnav.open ul {
	display: flex;
	flex-flow: row wrap;
}

.topnav.open li {
	padding-bottom: 0.5rem;
	min-width: 100%;
}

.topnav.open a.icon {
position: absolute;
right: 1rem;
top: 2rem;
}


#main-page-wrapper {
	width: 100%;
	margin: 0 auto; /*centre page content*/
	overflow-x: hidden; /*to stop scroll horizontal on mobile view*/
	overflow-y:	auto;
	/*grid setting*/
	grid-area: main-page-wrapper;
	display: grid;
	grid-template-rows: 1fr auto; /*two rows - main content plus footer*/
	
	
}

main {
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 auto;
	align-items: center;
}

/*hero image*/
/*parent container for hero-image so need to set overflow here to stop horizontal scrolling on image*/
#landing-section {
	width: 100%;
	overflow: hidden; 
	color: var(--white);
}

/*hero image centred, no repeat and full width and height*/
#hero-image {
	/*background image and with linear gradient to darken it so text stands out*/
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/walking-nature-hero-image.jpg);
	height: 100vh; 
	/*width: 100%;*/
	/* centre the image, not repeated, ensure it covers the container*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/*flex containder for landing-text*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/*text box - child of hero-image*/
.landing-text {
	text-align: center; 
	padding: 0 1rem;
}

/*space between text and button and nudge text up*/
.landing-text:first-of-type {
	margin-bottom: 4rem;
}

.landing-text p {
	padding-bottom: 0;
}

.landing-text h2 {
	font-size: 3rem;
	line-height: 3.2rem;
	text-transform: none;
}

.landing-button {
	background-color: rgba(4, 229, 174, 0.8);
	padding: 1rem 2rem 0.1rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    word-spacing: 0.1rem;
	color: var(--dark-grey);
	border-radius: 0.1rem;
	display: block;
}

/*so that arrow displays below text in the button*/
.landing-button span {
	display: block;
}


/*below fold landing section - 3 boxes*/
#below-fold-landing {
	display: flex; /*set parent element as flex container*/
	flex-direction: column; /*one column for mobile view - alter on larger size under media query*/
	/* width: 100%;  */
	justify-content: center; /*to centre the boxes within this container*/
	background-color: var(--green);
	padding: 5rem 0;
}

.landing-box {
	/* display: inline-block; this will only be for larger sizes*/
	background-color: var(--white);
	color: var(--dark-grey);
	padding: 1rem;
    margin: 0.6rem 4rem; /*space between the boxes, more on sides to bring away from edge of page*/
    text-align: center;
	transition: transform 250ms; /*to set time for the transform on hover below*/
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
    align-items: center;
}



.landing-icon {
	font-size: 2rem;
}

/*font size and style for h2 inside landing box*/
.landing-box h2 {
	padding: 0.5rem 0;
    font-size: 1.8rem;
}

.landing-box p {
	font-size: .9rem;
	line-height: 1rem;
}

/*focus not working on landing-page-link - come back to*/
/* .landing-page-link:focus-visible {
	outline: solid 1px green;
} */

.landing-page-link:hover {
	transform: scale(1.02); /*increase size of box on hover*/ 
}

.landing-box:hover, .landing-page-link:focus, .landing-page-link:active {
	color: var(--green);
}

/*sections for all pages **/
#intro-section, #get-started-section, #more-info-section, .long-article, .events-section, #contact-section, .form-success-section {
	display: flex;
	flex-direction: column; /*so that child divs display in one column - amend for larger screen*/
	margin: 2rem;
	justify-content: center;
}

.intro-box video {
	margin: 0 auto;
}

.more-info-box img, .long-article img {
	width: 100%;
	margin-bottom: 1rem;
}

.article-summary-box {
	padding: 0.5rem;
	border: 0.1rem solid var(--extra-light-grey);
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
	display: flex;
    flex-direction: column;
}

.article-summary-box h3 {
	line-height: 1.6rem;
}

/*font styles for article date in more info section index.html*/
.article-date {
	font-weight: 500;
	font-size: 0.9rem;
    color: var(--light-grey);
	padding-bottom: 0.2rem;
}

.article-summary {
	font-style: italic;
}

/*increase space between read more and arrow*/
.more-info-summary i {
	padding-left: 0.5rem;
}

/*===============article pages===============================================================*/
.long-article h2, .form-success-section h2 {
	text-transform: none; /*longer headings so not uppercase*/
	margin-bottom: 1rem;
}

/*check if this is still needed after correcting the fixed header*/
.long-article {
	clear: both; /*to clear the previous and next arrows at top of page*/
}

/*subheading*/
.long-article .subtitle {
	font-style: italic; 
	font-weight: 200;
}

.article-author {
	font-weight: bold;
}

.long-article img {
margin-bottom: 2rem;
}

/*container for arrows. did not use flexbox to position because some pages only have one arrow either right or left*/
/*consider using same class for both of these - need to check to ensure no impact*/
.article-arrows-container, .article-arrows-container-top {
    padding: 1rem 2rem;
	margin-bottom: 2rem;
}

.article-previous {
	float: left;
}

.article-next {
	float: right;
}

/*============================events page==============================================*/


/*events table listing*/
tbody tr {
	margin-bottom: 1rem; /*to space out the cards when shown at mobile */
  }
  
  table th, table td {
	padding: .5rem 1rem 0.5rem 0.5rem;
	text-align: center;
	border: 0.1rem solid var(--white);
	background-color: var(--extra-light-grey);
  }

  /* removes table header at mobile size */
  /*from https://allthingssmitty.com/2016/10/03/responsive-table-layout/*/
  table thead {
    /* clip: rect(0 0 0 0); removed as this is deprecated */
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
  	white-space: nowrap;
  	clip-path: inset(100%);
  	overflow: hidden;
  }

  table tr, table td {
	  display: block;
  }

td:first-child {
	background-color: var(--green);
	font-weight: bold;
}
  
td:last-child {
	  background-color: var(--dark-grey);
	  color: var(--white);
  }

/*===================reviews section=======================*/
.review-box {
	border: 0.1rem solid var(--extra-light-grey);
	margin: 1rem; /*separate boxes from each other*/
	padding: 1rem;
	font-size: 0.8rem;
	line-height: 0.8rem;
}

.stars {
	color: var(--green);
}

.review-summary {
	font-weight:900;
	font-size: 0.9rem;
	padding-bottom: 0;
}

.review-user-date {
	color: var(--light-grey);
	font-style: italic;
	font-weight: 500;
	padding-bottom: 0.5rem;
}

.gallery {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
	max-width: 100%;
    margin: 1rem 0;
}


/**===========================general form styles=================================**/

/*for contact form button and foooter button*/
input[type="submit"] {
	text-transform: uppercase;
	background-color: var(--green); 
	color: var(--dark-grey);
	border: none; /*remove default border around*/
}

form input, textarea {
	border-radius: 0.05rem;
	font-family: inherit; /*so that placeholder text and text on form buttons inherit font*/
}


/**============================contact us page=========================================**/

#contact-section h2 {
	padding-bottom: 1rem;
}

.required {
	color: var(--green);
}

#contact-section form {
	/* max-width: 90%; use with media query for larger screen*/
	box-sizing: border-box;
}

#contact-section form p {
	padding-bottom: 0;
}

#contact-section label {
	display: block;
}

#contact-section input:not([type="checkbox"]), #contact-section textarea {
	display: block;
	border: 0.05rem solid var(--light-grey);
	width: 100%;
	padding: 0.5rem;
    margin-bottom: 0.5rem;
	box-sizing: border-box;
}

input[type="checkbox"] {
	border: 0.05rem solid var(--light-grey);
}

#contact-section input:hover, #contact-section textarea:hover {
	border-color: var(--green);
}

#contact-section input:focus, #contact-section textarea:focus {
	border:0.1rem solid var(--green);
}

.checkbox-container {
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
	margin-bottom: 0.5rem;
}

.checkbox-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#contact-section textarea {
	height: 5rem;
}

#contact-section input[type="submit"] {
	border: none; 
	margin: 1.5rem 0;
}

#contact-section input[type="submit"]:hover, #contact-section input[type="submit"]:focus, #contact-section input[type="submit"]:active {
	background-color: var(--dark-grey); 
	color: var(--white);
}


/**============================footer=========================================**/
footer {
	width: 100%; /*full width*/
	display: flex; /*footer is flex container for two divs - social media and form*/
	background-color: var(--dark-grey);
	flex-direction: column; /*for mobile view, so displays in row*/
	padding: 1rem 0 2rem; /*padding top and bottom of footer*/
	color: var(--white);
	font-size: 0.9rem;
}

.footer-box {
	margin: 1rem 0;
	text-align: center;
}

footer a {
	color: var(--white);
}

/*social media and download links, change color on hover, focus, active*/
footer a:hover, footer a:focus, footer a:active {
	color: var(--green);
}

/*for the social media icons (li) to display in a line*/
.social-media-links {
	display: flex; /*flex container for li inside, displays them inline*/
	justify-content: center;
}

/*to increase the size of the icons used for social media links*/
.social-media-links a {
	font-size: 1.4rem; /*to increase the size of the icons used for social media links*/
	padding:0 1rem; /*padding on each icon to add space between*/
}

footer p {
	padding-bottom: 0; /*remove padding from p so closer to form boxes*/
}

/*setting the form as a flex container removes the space between input and submit, instead of negative margin*/
footer form {
	display: flex;
	justify-content: center;
}

footer input {
	padding: 0.6rem; /*increase size of boxes*/
	border: none; /*remove default border around*/
}

footer input[type="submit"]:hover, footer input[type="submit"]:focus, footer input[type="submit"]:active {
	color: var(--white);	
}



/*===========================media queries=================================================*/


@media screen and (min-width: 480px) {
	
	/*==========nav in page header=======================*/
	/* for other nav items to display at larger size */
	.topnav ul {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}

	.topnav li {
		padding: 1rem;
	}

	/* for the icon to be hidden at larger size */
	.topnav a.icon {
		display: none;
	}

	#contact-section form {
		width: 90%; 
		margin: 0 auto;
		
	}

	.article-summary-container {
		display: flex;
	}

	.article-summary-box {
		flex-basis: 35rem;
	}

	


}


@media screen and (min-width: 768px) {
	
	main {
		width: 90%;
	}
	
	#below-fold-landing {
		flex-direction: row; 
		padding: 5rem 2rem;
	}

	.landing-box {
		margin: 0 2rem;
	}

	.landing-page-link {
		flex-grow: 1;
	}

	/* show the table header at larger size,reverse the positioning done for mobile size */
	table thead {
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: 100%;
		display: table;
		clip-path: none;
	  }
	  

	  table  {
		table-layout: fixed;
	  }
	
	  table tr {
		  display: table-row-group;
		  /* width: 100%; */
	  }
	
	  table td, table th {
		  display: table-cell;
		  width: 25%; /*to align th with tds*/
		  padding: 0.5rem;
		  text-align: left;
	  }
	
	  table td:last-of-type, table th:last-of-type {
		  width: 10%;
	  }

	  table td:nth-of-type(2), table th:nth-of-type(2) {
		width: 15%;
	}

	#reviews-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.review-box {
		flex: 1 1 15rem;
	}

	.gallery img {
		max-width: 45%;
		margin: .5rem;
	}


	input[type="checkbox"] {
		margin: 0 .5rem;
	}


.checkbox-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

	/*article text centered below image on longer article at larger sizes*/
	.article-below-img {
		width: 90%;
		margin: 0 auto;
	}

}


  

@media screen and (min-width: 830px) {
	/*==========footer=======================*/
	footer {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;	
	}

	.footer-box:first-of-type {
		padding-left: 2rem;
	}

	.footer-box:last-of-type {
		padding-right: 2rem;
	}

}


@media screen and (min-width: 1024px) {
	
	/*intro section home page - two columns*/
	.intro-section-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	
	.intro-box {
		width: 45%;
	}

	/*center the video within this div*/
	.intro-box:last-of-type {
		align-self: center;
	}

	.gallery img {
		max-width: 30%;
	}
}


@media screen and (min-width: 1200px) {
	main {
		max-width: 80%;
	}

}





