
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Ubuntu:wght@700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   to re-set element styles across browsers
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ===================== end of Meyer CSS Reset ============================================*/

/*======set variables for colors =============*/
:root {
	--green: #04E5AE; /*accent color*/
	--orange: #F25F5C; /*was accent color but don't think works re contrast, also re color-blindness - amended to use green*/
	--dark-grey: #334B49; /*text color and footer*/
	--white: #fff; /*header and footer text color*/
	--light-grey: #7f7f88; /*lighter text color*/
	--extra-light-grey: #eeeeee /*borders*/
}

/*explicitly set height for grid use*/
html, body {
	height: 100%;
}

/*using rem for font styles throughout, so that they are responsive */
body {
    font-family: 'Nunito Sans', sans-serif;
    color: var(--dark-grey);
	font-size: 1rem;
	line-height: 1.6rem;
	min-height: 100vh;
	overflow: hidden;
	/*grid settings*/
	display: grid;
  	grid-template-columns: 1fr;
  	grid-template-rows: auto 1fr;
  	grid-template-areas: 
						'header'
						'main';
}

h1, h2 {
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.05rem;
	text-transform: uppercase;
}

h2 {
	font-size: 2rem;
	line-height: 2.2rem;
}

.subtitle, h3 {
	font-size: 1.2rem;
	line-height: 2rem;
	font-weight: 600;
}

p {
	line-height: 1.8rem;
	padding-bottom: 1rem;
}

a {
	text-decoration: none;
	color: var(--green);
}

/*to make stand out more for links in paragraphs*/
p > a {
	font-weight: 900; 
	color: var(--dark-grey);
	border-bottom: 0.1rem solid var(--green);
}

em {
	font-style: italic;
}

/*=================================header and nav==============================================*/
#page-header {
    background-color: var(--white);
	width: 100%; /*to keep full width*/
	padding: 1rem;
	z-index: 3; /*to keep content on top of scrolling content*/
	display: flex; /*set header as flex container*/
	align-items: center; /*vertically align logo and nav within header*/
	justify-content: space-between; /*aligns logo to left and nav to right*/
	flex-wrap: wrap; /*so nav wraps below on smaller screen - may remove later if menu changed to hamburger*/
	border-bottom: 0.1rem solid var(--extra-light-grey);
	/*grid setting*/
	grid-area: header;
}

#logo {
	font-size: 2rem;
	margin: 1rem; /*equal margin on logo and nav in header*/
	color: var(--green);
}

#logo:hover, #logo:focus {
	color: var(--dark-grey);
}

#page-header a {
	text-transform: uppercase;
	color: var(--dark-grey);
	font-size: 1.1rem;
}

/*change colour and show underline on hover, tab (focus) or active, 
also for active class on page*/
.nav-item:hover, .nav-item:focus, .nav-item:active, .active {
	color: var(--green);
	border-bottom: 0.5rem solid var(--green);
}

/*header nav*/
nav li {
	display: inline;
	margin-right: 1rem;
}

nav {
	margin: 1rem;
}

/*to centre the icon vertically within the header*/
.topnav {
	display: flex;
	align-items: center;
}

/* for other nav items at mobile size */
.topnav a {
	display: none;
  }

  /* for the icon to display at mobile size */
.topnav a.icon {
    display: block;
	
  }

.topnav.open a {
	display: block;
}

.topnav.open a.icon {
position: absolute;
right: 2rem;
top: 2rem;
}


#main-page-wrapper {
	width: 100%;
	margin: 0 auto; /*centre page content*/
	overflow-x: hidden; /*to stop scroll horizontal on mobile view*/
	overflow-y:	auto;
	/*grid setting*/
	grid-area: main;
	grid-template-rows: 1fr auto; /*two rows - main content plus footer*/
	
}

/*hero image*/
/*this is the parent container for hero-image so need to set overflow here to stop horizontal scrolling on image*/
#landing-section {
	width: 100%;
	overflow: hidden; 
	/*position: relative; /*so that the landing-box div can be positioned against this*/
}

/*hero image centred, no repeat and full width and height*/
#hero-image {
	/*background image and with linear gradient to darken it so text stands out*/
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/walking-nature-hero-image.jpg);
	height: 100vh; 
	/*width: 100%;*/
	/* centre the image, not repeated, ensure it covers the container*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

#landing-box-container {
	display: flex; /*set parent element as flex container*/
	flex-direction: column; /*one column for mobile view - alter on larger size under media query*/
	position: absolute; /*position this against the parent landing-section so that overlays the hero image*/
	bottom: 1rem; /*positioning from bottom of parent landing-section*/
	width: 100%; /*needs to be set so that justify content works*/
	justify-content: center; /*to centre the boxes within this container*/
	
}

/*text box - first div inside landing-box-container*/
#landing-text {
    color: var(--white);
	text-align: center; /*centre text within the div*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#landing-text p {
	font-size: .8rem;
}

#landing-text h2 {
	font-size: 2.2rem;
}

.landing-box a {
	color: var(--white);
}

.landing-box {
	/* display: inline-block; this will only be for larger sizes*/
	background-color: var(--green);
	padding: 1rem;
    margin: 0.6rem 4rem; /*space between the boxes, more on left right to bring away from edge of page*/
    text-align: center;/*centre the text within the boxes*/
	transition: transform 250ms; /*to set time for the transform on hover below*/
	display: none; /*temp to get positioning of text*/
}

.landing-box:hover {
	transform: scale(1.02); /*increase size of box on hover*/ /*could change opacity also*/
}
/*need to look at interaction for focus. Also change focus box styles*/

.landing-box a:hover, .landing-box a:focus, .landing-box a:active {
	color: var(--dark-grey);
}

/*font size and style for h2 inside landing box*/
.landing-box h2 {
	padding: 0.5rem 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    font-size: 1.8rem;
}

.landing-box p {
	font-size: .9rem;
}


/*sections for all pages **/
#intro-section, #get-started-section, #more-info-section, .long-article, #events-section, #contact-section {
	/* width: 100%; */
	display: flex;
	flex-direction: column; /*so that child divs display in one column - amend for larger screen*/
	margin: 2rem;
	/* margin: 0 auto; */
	justify-content: center;
}

.intro-box video {
	margin: 0 auto;
}

.more-info-box img, .long-article img {
	width: 100%;
}

/*font styles for article date in more info section index.html*/
.article-date {
	font-weight: 500;
	font-size: 0.9rem;
    color: var(--light-grey);
	padding-bottom: 0.2rem;
}

.article-summary {
	font-style: italic;
}

/*increase space between read more and arrow*/
.more-info-summary i {
	padding-left: 0.5rem;
}

/*===============article pages===============================================================*/
.long-article h2 {
	text-transform: none; /*longer headings so not uppercase*/
	margin-bottom: 1rem;
}

/*check if this is still needed after correcting the fixed header*/
.long-article {
	clear: both; /*to clear the previous and next arrows at top of page*/
}

/*subheading*/
.long-article .subtitle {
	font-style: italic; 
	font-weight: 200;
}

.article-author {
	font-weight: bold;
}

.long-article img {
margin-bottom: 2rem;
}

/*container for arrows. did not use flexbox to position because some pages only have one arrow either right or left*/
/*consider using same class for both of these - need to check to ensure no impact*/
.article-arrows-container, .article-arrows-container-top {
    padding: 1rem 2rem;
	margin-bottom: 2rem;
}

.article-previous {
	float: left;
}

.article-next {
	float: right;
}

/*============================events page==============================================*/

.review-box {
	border: 0.1rem solid var(--extra-light-grey);
	margin: 1rem; /*separate boxes from each other*/
	padding: 1rem;
	font-size: 0.8rem;
	line-height: 0.8rem;
}

.stars {
	color: var(--green);
}

.review-summary {
	font-weight:900;
	font-size: 0.9rem;
	padding-bottom: 0;
}

.review-user-date {
	color: var(--light-grey);
	font-style: italic;
	font-weight: 500;
	padding-bottom: 0.5rem;
}

/**===========================general form styles=================================**/

/*for contact form button and foooter button*/
input[type="submit"] {
	text-transform: uppercase;
	background-color: var(--green); 
	color: var(--dark-grey);
	border: none; /*remove default border around*/
}

form input, textarea {
	border-radius: 0.05rem;
	font-family: inherit; /*so that placeholder text and text on form buttons inherit font*/
}

/**============================contact us page=========================================**/

#contact-section h2 {
	padding-bottom: 1rem;
}

.required {
	color: var(--green);
}

#contact-section form {
	/* max-width: 90%; use with media query for larger screen*/
	box-sizing: border-box;
}

#contact-section form p {
	padding-bottom: 0;
}

#contact-section label {
	display: block;
}

#contact-section input:not([type="checkbox"]), #contact-section textarea {
	display: block;
	border: 0.05rem solid var(--light-grey);
	width: 100%;
	padding: 0.5rem;
    margin-bottom: 0.5rem;
	box-sizing: border-box;
}

.checkbox-container {
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
	margin-bottom: 0.5rem;
}

.checkbox-group {
	display: flex;
	justify-content: space-between;
}

#contact-section textarea {
	height: 5rem;
}


#contact-section input:hover, #contact-section input:focus #contact-section input:active {
	border-color: var(--green);
}

#contact-section input[type="submit"] {
	border: none; 
	margin: 1.5rem 0;
}

#contact-section input[type="submit"]:hover {
	background-color: var(--dark-grey); 
	color: var(--white);
}


/**============================footer=========================================**/
footer {
	width: 100%; /*full width*/
	display: flex; /*footer is flex container for two divs - social media and form*/
	background-color: var(--dark-grey);
	flex-direction: column; /*for mobile view, so displays in row*/
	padding: 1rem 0; /*padding top and bottom of footer*/
	color: var(--white);
	/*grid setting*/
	grid-row: 2 / 3;
}

/*for the social media icons (li) to display in a line*/
.social-media-links {
	display: flex; /*flex container for li inside, displays them inline*/
	justify-content: center;
	margin: 1rem 0;
}

/*to increase the size of the icons used for social media links*/
.social-media-links i {
	font-size: 1.4rem; /*to increase the size of the icons used for social media links*/
	color: var(--white);
	padding:0 1rem; /*padding on each icon to add space between*/
}

/*need to add the focus styles on these links also*/
.social-media-links i:hover {
	color: var(--green);
}

/*this is currently not working?*/
.social-media-links a:focus {
	color: var(--green);
}

footer form {
	margin-bottom: 2rem;
	text-align: center;
}

footer p {
	padding-bottom: 0; /*remove padding from p so closer to form boxes*/
	text-align: center;
}

footer input {
	padding: 0.6rem; /*increase size of boxes*/
	border: none; /*remove default border around*/
	margin-left: -0.3rem; /*to bring button beside input field with no gap*/
}



